<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
    <link rel="stylesheet" href="/stylesheets/task-11/details_page.css">
</head>

<body>

    <% try {
    let last = Math.ceil(total_record/pagesize); 
    %>    


    
    <div class="btn">
        <button id="btn1" name="first" onclick="window.location.href='/task_11/orderby?page= <%= 1 %>'" <%= page ==1 ? 'disabled' : ''  %> > << </button>
        <button id="btn2" name="previous" onclick="window.location.href='/task_11/orderby?page=<%= Number(page)-1 %>'" <%= page == 1 ? 'disabled' : '' %> > < </button>
        <span id="span" name="span" > <%= page %> </span>   
        <button id="btn4" name="next" onclick="window.location.href='/task_11/orderby?page=<%= Number(page)+1 %>'" <%= page == last ? 'disabled' : '' %> >  > </button>
        <button id="btn5" name="last" onclick="window.location.href='/task_11/orderby?page= <%= last %>'" <%= page == last ? 'disabled' : '' %> > >> </button>
        <button id="detail" name="detail" onclick="window.location.href='/task_11/detail'">back to simple detail</button>
    </div>

    <table>
        <tr class="btn">
            <th>index</th>
            <th>First Name</th>
            <th>Middle name</th>
            <th>Last name</th>
            <th>DOB</th>
            <th>Phone No.</th>
            <th>email</th>
            <th>Address</th>
            <th>city</th>
            <th>state</th>
            <th>country</th>
            <th>zipcode</th>
            <th>blood group</th>
            <th>created time</th>
        </tr>

        <% data.forEach(function(item) {  %>
        <tr>
            <td><%=  item.s_id %></td>
            <td><%=  item.first_name %></td>
            <td><%=  item.middle_name %></td>
            <td><%=  item.last_name %></td>
            <td><%=  item.dob %></td>
            <td><%=  item.phone_no %></td>
            <td><%=  item.email %></td>
            <td><%=  item.address %></td>
            <td><%=  item.city %></td>
            <td><%=  item.state %></td>
            <td><%=  item.country %></td>
            <td><%=  item.zipcode %></td>
            <td><%=  item.blood_group %></td>
            <td><%=  item.created_at %></td>
        </tr>
        <% }); } catch(e) { console.log(e); } %>
    </table>
    

</body>
</html>