<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>

</head>

<body>

    <form action="/combobox_generator">
        <input type="text" name="input" id="input" value="<%= input %>" >
        <input type="submit" value="Go">
    </form>





        <%= input %>
        <span> : </span>
        <%try{%>
        <% data.forEach(function(item) {
            if (item.input_type == 'radio') { %>
                <label for="<%= item.option_name %>">  <%= item.option_name %> </label>
                <input type="<%= item.input_type %>" name="<%= item.input_type %>" id="<%= item.option_name %>" <% if(item.selected == 1) { %> checked <%} %>>
                
           <% } else if (item.input_type == 'checkbox') { %>
                    <label for="<%= item.option_name %>">  <%= item.option_name %> </label>
                    <input type="<%= item.input_type %>" name="<%= item.input_type %>" id="<%= item.option_name %>" <% if(item.selected == 1) { %> checked <%} %>>
          
           <% } %> 
        <% }); %>

           <% if (data[0].input_type == 'dropdown') { %>
                    <select name="<%= input %>" id="<%= input %>" <% if (data[0].multiple == 1) { %> multiple <% } %> >
                        <% data.forEach(function(item) { %>
                        <option value="<%= item.option_name %>"> <%= item.option_name %> </option>
                        <% }); %>
                    </select>
            <% } %>
        <%}catch(e){%> Enter valid feield name to generate<%}%>



</body>
</html>