<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>exam result</title>
    <link rel="stylesheet" href="/stylesheets/task-12/exam.css">
</head>

<body>

    <% try {
    let last = Math.ceil(total_record/pagesize); 
    %>  

    <h1>Jani jasmin</h1>
    <h3>Result</h3>

    <div class="btn">
        <button id="btn1" name="first" onclick="window.location.href='/task_12/exam?page= <%= 1 %>'" <%= page ==1 ? 'disabled' : ''  %> > << </button>
        <button id="btn2" name="previous" onclick="window.location.href='/task_12/exam?page=<%= Number(page)-1 %>'" <%= page == 1 ? 'disabled' : '' %> > < </button>
        <span id="span" name="span" > <%= page %> </span>   
        <button id="btn4" name="next" onclick="window.location.href='/task_12/exam?page=<%= Number(page)+1 %>'" <%= page == last ? 'disabled' : '' %> >  > </button>
        <button id="btn5" name="last" onclick="window.location.href='/task_12/exam?page= <%= last %>'" <%= page == last ? 'disabled' : '' %> > >> </button>
    </div>

    <table class="center">
        <tr>
            <th rowspan="2">index</th>
            <th rowspan="2">First name</th>
            <th rowspan="2">Last name</th>
            <th colspan="2">Terminal</th>
            <th colspan="2">Prelim</th>
            <th colspan="2">Final</th>
            <th rowspan="2">Total marks (out of 1200)</th>
            <th rowspan="2"></th>
        </tr>

        <tr>
            <th>Practical</th>
            <th>Theory</th>
            <th>Practical</th>
            <th>Theory</th>
            <th>Practical</th>
           <th>Theory</th>
        </tr>

        <% data.forEach(function(item,index) {  %>
        <tr>
            <td><%= item.s_id %></td>
            <td><%= item.first_name %></td>
            <td><%= item.last_name %></td>
            <td><%= item.practical_terminal %></td>
            <td><%= item.theory_terminal %></td>
            <td><%= item.practical_prelim %></td>
            <td><%= item.theory_prelim %></td>
            <td><%= item.practical_final %></td>
            <td><%= item.theory_final %></td>
            <td><%= item.obtain_mark %></td>
            <td><button onclick="window.location.href='/task_12/fullresult/<%= item.s_id %>'">view result</button></td>
        </tr>
        <% }); } catch(e) { console.log(e); } %>

    </table>

</body>
</html>