<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Attendance</title>
    <link rel="stylesheet" href="/stylesheets/attendance_and_result/attendance.css">
</head>

<body>

    <h1>Jani jasmin</h1>
    <h3>Attendance</h3>

    <% try {
    let last = Math.ceil(total_record/pagesize); 
    %>    

   
    <div class="main">
        <% var months=['december23','january24','february24'] %>
        <% var monthsname=['December 23','January 24','February 24'] %>

        <select name="month" id="month" onchange="changed()">
          
            <% for(var i=0 ;i<months.length ;i++){ %>
                <% var selected='' %>
                <% if(month==months[i]){ %>
                    <% selected='selected' %>
                <% } %>
                <option name="<%= months[i] %>" value="<%= months[i] %>" <%= selected %>><%= monthsname[i] %></option>
            <% } %>

        </select>

      
        <div class="btn">
            <button id="btn1" name="first" onclick="window.location.href='/attendance_and_result/attendance?page=<%= 1 %>&month=<%= month %>&orderby=<%= orderby %>'" <%= page ==1 ? 'disabled' : ''  %> > << </button>
            <button id="btn2" name="previous" onclick="window.location.href='/attendance_and_result/attendance?page=<%= Number(page)-1 %>&month=<%= month %>&orderby=<%= orderby %>'" <%= page == 1 ? 'disabled' : '' %> > < </button>
            <span id="span" name="span" > <%= page %> </span>   
            <button id="btn4" name="next" onclick="window.location.href='/attendance_and_result/attendance?page=<%= Number(page)+1 %>&month=<%= month %>&orderby=<%= orderby %>'" <%= page == last ? 'disabled' : '' %> >  > </button>
            <button id="btn5" name="last" onclick="window.location.href='/attendance_and_result/attendance?page=<%= last %>&month=<%= month %>&orderby=<%= orderby %>'" <%= page == last ? 'disabled' : '' %> > >> </button>
        </div>

        <div class="btn">
            <input type="button" value="Go to result" onclick="window.location.href='http://localhost:9027/attendance_and_result/exam'">
        </div>
        
    </div>

    <table class="center">
        <tr>
            <th><span onclick="index()"> index </span> <span> <button id="s_id_asc" class="asc order_btn" onclick="legend('s_id asc')" <% if(orderby == "s_id asc") { %> style = "background-color: black; color: white;" <% } %> >∧</button> <button id="s_id_desc" class="desc order_btn" onclick="legend('s_id desc')" <% if(orderby == "s_id desc") { %> style = "background-color: black; color: white;" <% } %> >∨</button></span> </th>
            <th > <span onclick="first()"> First name </span> <span><button id="first_name_asc" class="asc order_btn" onclick="legend('first_name asc')"         <% if(orderby == "first_name asc") { %> style = "background-color: black; color: white;" <% } %>>∧</button> <button id="first_name_desc" class="desc order_btn" onclick="legend('first_name desc')" <% if(orderby == "first_name desc") { %> style = "background-color: black; color: white;" <% } %> >∨</button></span></th>
            <th > <span onclick="last()" > Last name </span>  <span><button id="last_name_asc" class="asc order_btn" onclick="legend('last_name asc')"         <% if(orderby == "last_name asc") { %> style = "background-color: black; color: white;" <% } %>>∧</button> <button id="last_name_desc" class="desc order_btn" onclick="legend('last_name desc')" <% if(orderby == "last_name desc") { %> style = "background-color: black; color: white;" <% } %>>∨</button></span></th>
            <th > <span onclick="present()" > present days </span> <span><button id="present_asc" class="asc order_btn" onclick="legend('present asc')"  <% if(orderby == "present asc") { %> style = "background-color: black; color: white;" <% } %> >∧</button> <button id="present_desc" class="desc order_btn" onclick="legend('present desc')"         <% if(orderby == "present desc") { %> style = "background-color: black; color: white;" <% } %> >∨</button></span></th>
            <th > <span onclick="percentage()"> percentage </span> <span><button id="percentage_asc" class="asc order_btn" onclick="legend('percentage asc')" <% if(orderby == "percentage asc") { %> style = "background-color: black; color: white;" <% } %> >∧</button> <button id="percentage_desc" class="desc order_btn" onclick="legend('percentage desc')"         <% if(orderby == "percentage desc") { %> style = "background-color: black; color: white;" <% } %> >∨</button></span></th>
        </tr>


    <% data.forEach(function (item) {  %>
        <tr>
            <td><%= item.s_id %></td>
            <td><%= item.first_name %></td>
            <td><%= item.last_name %></td>
            <td><%= item.present %></td>
            <td><%= ((item.percentage/month_day)*100).toFixed(2) %> %</td>
        </tr>
        <% }); } catch(e) { console.log(e); } %>


    </table>

</body>

<script src="/javascripts/attendance_and_result/attendance_script.js"></script>

</html>


    